---
import Layout from '~/components/Layout.astro';
---

<Layout title='Not Found - Mugafrey Investment'>
  <section class='wrapper'>
    <div class='pt-[110px] md:pt-[140px] pb-20'>
      <h1 class='!text-8xl text-center'>Page Not Found!</h1>
    </div>
  </section>
</Layout>
