---
import Breadcrumb from '~/components/Breadcrumb.astro';
import Layout from '~/components/Layout.astro';
---

<Layout title='About - Mugafrey Investment'>
  <section>
    <Breadcrumb title='About' />
    <div class='wrapper py-20'>About Mugafrey Investment</div>
  </section>
</Layout>
