---
import Layout from "~/components/Layout.astro";
---

<Layout title="About - Mugafrey Investment">
  <section class="pt-24">
    <div class="wrapper">About Mugafrey Investment</div>
  </section>
</Layout>
