---
import Layout from "~/components/Layout.astro";
---

<Layout title="Get A Quote - Mugafrey Investment">
  <section class="pt-24">
    <div class="wrapper">Get A Quote</div>
  </section>
</Layout>
