---
import Layout from '~/components/Layout.astro';
---

<Layout title="Mugafrey Investments.">
	<h1 class="text-5xl text-center mb-5">This is the home Page</h1>
	<p>Hello World, What's good!</p>
</Layout>