<section id='faqs' class='bg-[rgb(23,23,23)] py-20'>
  <div
    class='wrapper aos-init aos-animate'
    data-aos='fade-up'
    data-aos-delay='300'
  >
    <div class='px-2 grid md:grid-cols-5 gap-10'>
      <div class='md:col-span-2'>
        <div class='section-header'>
          <span class='text-left text-xl -top-2.5'>
            Frequently<br />asked questions
          </span>
          <h2 class='text-left'>
            Frequently<br />asked questions
          </h2>
          <p
            class='text-left mt-1 hidden md:block text-gray-600 dark:text-gray-400'
          >
            Answers to the most frequently asked questions.
          </p>
        </div>
      </div>

      <div class='md:col-span-3'>
        <div
          class='max-w-2xl mx-auto divide-y divide-gray-200 dark:divide-gray-700'
        >
          <div class='py-8 first:pt-0 last:pb-0'>
            <div class='flex gap-x-5'>
              <svg
                class='flex-shrink-0 mt-1 w-6 h-6 text-gray-500'
                xmlns='http://www.w3.org/2000/svg'
                width='16'
                height='16'
                fill='currentColor'
                viewBox='0 0 16 16'
              >
                <path
                  d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'
                ></path>
                <path
                  d='M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z'
                ></path>
              </svg>

              <div>
                <h3
                  class='md:text-lg font-semibold text-gray-800 dark:text-gray-200'
                >
                  What logistics services do we offer?
                </h3>
                <p class='mt-1 text-gray-500'>
                  We offer different types of logistics services such as
                  Transportation, Warehousing, Customs clearance and Reverse
                  logistics
                </p>
              </div>
            </div>
          </div>

          <div class='py-8 first:pt-0 last:pb-0'>
            <div class='flex gap-x-5'>
              <svg
                class='flex-shrink-0 mt-1 w-6 h-6 text-gray-500'
                xmlns='http://www.w3.org/2000/svg'
                width='16'
                height='16'
                fill='currentColor'
                viewBox='0 0 16 16'
              >
                <path
                  d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'
                ></path>
                <path
                  d='M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z'
                ></path>
              </svg>

              <div>
                <h3
                  class='md:text-lg font-semibold text-gray-800 dark:text-gray-200'
                >
                  When lending money, lenders typically consider the following
                  factors?
                </h3>
                <p class='mt-1 text-gray-500'>
                  They consider factors like The borrower's credit score, the
                  borrower's income and debt, the collateral and the the purpose
                  of the loan.
                </p>
              </div>
            </div>
          </div>

          <div class='py-8 first:pt-0 last:pb-0'>
            <div class='flex gap-x-5'>
              <svg
                class='flex-shrink-0 mt-1 w-6 h-6 text-gray-500'
                xmlns='http://www.w3.org/2000/svg'
                width='16'
                height='16'
                fill='currentColor'
                viewBox='0 0 16 16'
              >
                <path
                  d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'
                ></path>
                <path
                  d='M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z'
                ></path>
              </svg>

              <div>
                <h3
                  class='md:text-lg font-semibold text-gray-800 dark:text-gray-200'
                >
                  What are the benefits of using a logistics company?
                </h3>
                <p class='mt-1 text-gray-500'>
                  They can help you save time and money by handling all of your
                  logistics needs. They can provide you with a wide range of
                  services, so you can choose the ones that best meet your
                  needs.
                </p>
              </div>
            </div>
          </div>

          <div class='py-8 first:pt-0 last:pb-0'>
            <div class='flex gap-x-5'>
              <svg
                class='flex-shrink-0 mt-1 w-6 h-6 text-gray-500'
                xmlns='http://www.w3.org/2000/svg'
                width='16'
                height='16'
                fill='currentColor'
                viewBox='0 0 16 16'
              >
                <path
                  d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'
                ></path>
                <path
                  d='M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z'
                ></path>
              </svg>

              <div>
                <h3
                  class='md:text-lg font-semibold text-gray-800 dark:text-gray-200'
                >
                  Upgrade License Type
                </h3>
                <p class='mt-1 text-gray-500'>
                  There may be times when you need to upgrade your license from
                  the original type you purchased and we have a solution that
                  ensures you can apply your original purchase cost to the new
                  license purchase.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
