<footer>
  <div class="wrapper">
    <div
      class="footer-content flex flex-wrap items-start justify-start lg:justify-between pt-[50px] pb-6"
    >
      <div class="px-3 pt-6 w-auto lg:w-[41%]">
        <span class="pb-4 block">
          <a
            class="text-2xl font-bold text-white hover:underline-offset-8"
            href="/"
          >
            Mugafrey Investment
          </a>
        </span>
        <p>
          Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada
          terra videa magna derita valies darta donna mare fermentum iaculis eu
          non diam phasellus.
        </p>
        <div class="social-links mt-4 flex">
          <a
            href="https://www.facebook.com/mugafreyinvestment/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i>fb</i>
          </a>
          <a
            href="https://www.twitter.com/mugafreyinvestment/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i>tw</i>
          </a>
          <a
            href="https://www.instagram.com/mugafreyinvestment/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i>ig</i>
          </a>
          <a
            href="https://www.linkedin.com/mugafreyinvestment/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i>li</i>
          </a>
        </div>
      </div>
      <div class="px-3 pt-6 pb-7 w-1/2 lg:w-[16%]">
        <h4 class="pb-3 text-lg">Useful Links</h4>
        <ul>
          <li>
            <a href="#" class="dash plain"> Home</a>
          </li>
          <li>
            <a href="#" class="dash plain"> About Us</a>
          </li>
          <li>
            <a href="#" class="dash plain"> Services</a>
          </li>
          <li>
            <a href="#" class="dash plain"> Terms Of Service</a>
          </li>
          <li>
            <a href="#" class="dash plain"> Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="px-3 pt-6 pb-7 w-1/2 lg:w-[16%]">
        <h4 class="pb-3 text-lg">Our Services</h4>
        <ul>
          <li>
            <a href="#" class="dash plain"> Storage</a>
          </li>
          <li>
            <a href="#" class="dash plain"> Logistics</a>
          </li>
          <li>
            <a href="#" class="dash plain"> Cargo</a>
          </li>
          <li>
            <a href="#" class="dash plain"> Trucking</a>
          </li>
          <li>
            <a href="#" class="dash plain"> Warehousing</a>
          </li>
        </ul>
      </div>
      <div class="px-3 pt-6 w-auto lg:w-1/4">
        <h4 class="pb-3 text-lg">Contact Us</h4>
        <p>
          P.O. Box 700651 <br />
           Kitooro - Entebbe
          <br />
           Uganda. <br />
          <br />
          <strong>Phone 1:</strong>
          <a href="tel:+256 772 037464"> +256 772 037464</a>
          <br />
          <strong>Phone 2:</strong>
          <a href="tel:+256 702 259292"> +256 702 259292</a>
          <br />
          <strong>Email:</strong>{" "}
          <a href="mailto:mugafreyinvestment@gmail.com"
            >mugafreyinvestment@gmail.com</a
          >
          <br />
        </p>
      </div>
    </div>

    <div class="my-5 credits text-center">
      <p class="capitalize">
        Copyright © {new Date().getFullYear()}{" "}
        <span class="font-bold">Mugafrey Investment.</span> All right reserved.
      </p>
      <p class="pt-1.5">
        Designed with 💖 by{" "}
        <a class="font-bold dash plain" href="mailto:dumanimedia@gmail.com">
          DumaniMedia.
        </a>
      </p>
    </div>
  </div>
</footer>
