---
import { Image } from 'astro:assets';
import logoImg from '~/assets/images/logo.png';
---

<header
  class='absolute top-0 left-0 w-full flex items-center justify-center flex-col z-40'
>
  <div class='wrapper my-3 text-sm flex justify-between items-center relative'>
    <div class='flex items-center gap-4'>
      <span class='flex mr-2'>
        <i class='bi-clock-fill mr-2'></i>
        <span>Mon-Fri 09:00-17:00</span>
      </span>
      <a class='hidden md:flex' href='tel:+256 772 037464'>
        <i class='bi-phone-fill text-[var(--tartiary-color)] mr-2'></i>
        <span>+256 772 037464</span>
      </a>
    </div>
    <div class='social-links flex'>
      <a
        href='https://www.facebook.com/mugafreyinvestment/'
        target='_blank'
        class='border-none p-0 !w-4 !h-0'
        rel='noopener noreferrer'
      >
        <i class='bi-facebook'></i>
      </a>
      <a
        href='https://www.twitter.com/mugafreyinvestment/'
        target='_blank'
        rel='noopener noreferrer'
        class='border-none p-0 !w-4 !h-0'
      >
        <i class='bi-twitter'></i>
      </a>
      <a
        href='https://www.instagram.com/mugafreyinvestment/'
        target='_blank'
        rel='noopener noreferrer'
        class='border-none p-0 !w-4 !h-0'
      >
        <i class='bi-instagram'></i>
      </a>
      <a
        href='https://www.linkedin.com/mugafreyinvestment/'
        target='_blank'
        rel='noopener noreferrer'
        class='border-none p-0 !w-4 !h-0'
      >
        <i class='bi-linkedin'></i>
      </a>
    </div>
  </div>
  <div class='wrapper flex justify-between items-center relative py-1'>
    <a href='/' class='flex items-center text-white'>
      <Image
        src={logoImg}
        alt='logo image'
        class='w-[150px] md:w-[175px] h-auto scale-[0.99] hover:scale-100 transition'
      />
    </a>

    <nav class='z-50'>
      <svg
        class='mobile_close_btn cursor-pointer lg:hidden'
        width='20'
        height='20'
        viewBox='0 0 16 16'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          d='M6.586 8L.293 1.707c-.39-.39-.39-1.024 0-1.414.39-.39 1.024-.39 1.414 0L8 6.586 14.293.293c.39-.39 1.024-.39 1.414 0 .39.39.39 1.024 0 1.414L9.414 8l6.293 6.293c.39.39.39 1.024 0 1.414-.39.39-1.024.39-1.414 0L8 9.414l-6.293 6.293c-.39.39-1.024.39-1.414 0-.39-.39-.39-1.024 0-1.414L6.586 8z'
          fill='#F7F7F7'
          fill-rule='evenodd'></path>
      </svg>
      <ul>
        <li>
          <a class='dash color' href='/#hero'> Home</a>
        </li>
        <li>
          <a class='dash color' href='/about'> About</a>
        </li>
        <li>
          <a class='dash color' href='/#services'> Services</a>
        </li>
        <li>
          <a class='dash color' href='/#faqs'> Faqs</a>
        </li>
        <li>
          <a class='dash color' href='/contact'> Contact</a>
        </li>
        <li>
          <a
            href='/get-a-quote'
            class='hover:bg-[var(--dark-green-color)] hover:!text-[var(--tartiary-color)] !text-[var(--tartiary-color)] bg-[var(--light-green-color)] px-3 py-2.5 rounded-[4px]'
          >
            Get A Quote
          </a>
        </li>
      </ul>
    </nav>

    <div class='mobile-toggler flex items-center lg:hidden'>
      <svg
        class='mobile_open_btn cursor-pointer'
        width='20'
        height='20'
        viewBox='0 0 16 16'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          d='M15 14c.552 0 1-.448 1-1s-.448-1-1-1H9c-.552 0-1 .448-1 1s.448 1 1 1h6zm0-5c.552 0 1-.448 1-1s-.448-1-1-1H1c-.552 0-1 .448-1 1s.448 1 1 1h14zm0-5c.552 0 1-.448 1-1s-.448-1-1-1H5c-.552 0-1 .448-1 1s.448 1 1 1h10z'
          fill='#F7F7F7'
          fill-rule='evenodd'></path>
      </svg>
    </div>
  </div>
</header>

<script>
  let bodyElement = document.querySelector('body') as HTMLBodyElement;
  let mobileOpenBtn = document.querySelector('.mobile_open_btn') as HTMLElement;
  let mobileCloseBtn = document.querySelector(
    '.mobile_close_btn'
  ) as HTMLElement;
  let headerElement = document.querySelector('header') as HTMLHeadElement;

  function toggleMobileNav(): void {
    bodyElement.classList.toggle('mobile-nav-active');
  }
  function headerScrollListener(): void {
    let yPosition = window.scrollY;

    if (yPosition > 50) {
      headerElement.classList.remove('bg-transparent');
      headerElement.classList.remove('absolute');
      headerElement.classList.add('bg-[var(--background-color)]');
      headerElement.classList.add('fixed');
      headerElement.style.top = '-40px';
    } else {
      headerElement.classList.add('bg-transparent');
      headerElement.classList.remove('bg-[var(--background-color)]');
      headerElement.classList.remove('fixed');
      headerElement.classList.add('absolute');
      headerElement.style.top = '0px';
    }
  }

  window.addEventListener('scroll', headerScrollListener);
  mobileOpenBtn.addEventListener('click', toggleMobileNav);
  mobileCloseBtn.addEventListener('click', toggleMobileNav);
</script>
