---
import { getImage } from 'astro:assets';
import bannerImg1 from '~/assets/images/banners/banner3.jpg';
import bannerImg2 from '~/assets/images/banners/banner2.jpg';
import bannerImg3 from '~/assets/images/banners/banner4.jpg';

const optimizedImg1 = await getImage({ src: bannerImg1 });
const optimizedImg2 = await getImage({ src: bannerImg2 });
const optimizedImg3 = await getImage({ src: bannerImg3 });
---

<section class='slideContainer transition !duration-1000'>
  <div
    style={`background: linear-gradient(rgba(14, 20, 40, 0.6), rgba(14, 20, 40, 0.2)), url(${optimizedImg1.src}) center center;`}
    class='slideItem bg-no-repeat bg-center py-[110px] md:py-[150px] min-h-screen flex items-center justify-center'
    id='hero'
  >
    <div class='wrapper'>
      <div class='slide'>
        <h6>we are ready to help you</h6>
        <h4>Financial Analysis<br />&amp; Consulting</h4>
        <p>
          We are a leading provider of logistics and money lending services. We
          help businesses of all sizes move their goods and get the financing
          they need to grow.
        </p>
        <a
          class='inline-block outline-none uppercase font-bold px-6 py-3 transition-colors duration-300 rounded-full hover:bg-[var(--dark-green-color)] bg-[var(--light-green-color)] focus:bg-[var(--dark-green-color)] !text-[var(--tartiary-color)]'
          href='/contact'
          class='filled-button'>contact us</a
        >
      </div>
    </div>
  </div>
  <div
    style={`background: linear-gradient(rgba(14, 20, 40, 0.8), rgba(14, 20, 40, 0.5)), url(${optimizedImg2.src}) center center;`}
    class='slideItem object-cover bg-no-repeat bg-center py-[110px] md:py-[150px] min-h-screen flex items-center justify-center'
  >
    <div class='wrapper'>
      <div class='slide'>
        <h6>we are here to support you</h6>
        <h4>Accounting<br />&amp; Management</h4>
        <p>
          Our team of experts has over 20 years of experience in the logistics
          and finance industries. We are committed to providing our customers
          with excellent service and competitive rates
        </p>
        <a
          class='inline-block outline-none uppercase font-bold px-6 py-3 transition-colors duration-300 rounded-full hover:bg-[var(--dark-green-color)] bg-[var(--light-green-color)] focus:bg-[var(--dark-green-color)] !text-[var(--tartiary-color)]'
          href='/#services'
          class='filled-button'>Our Services</a
        >
      </div>
    </div>
  </div>
  <div
    style={`background: linear-gradient(rgba(14, 20, 40, 0.6), rgba(14, 20, 40, 0.2)), url(${optimizedImg3.src}) center center;`}
    class='slideItem object-cover bg-no-repeat bg-center py-[110px] md:py-[150px] min-h-screen flex items-center justify-center'
  >
    <div class='wrapper'>
      <div class='slide'>
        <h6>we are ready to help you</h6>
        <h4>Financial Analysis<br />&amp; Consulting</h4>
        <p>
          We are a leading provider of logistics and money lending services. We
          help businesses of all sizes move their goods and get the financing
          they need to grow.
        </p>
        <a
          class='inline-block outline-none uppercase font-bold px-6 py-3 transition-colors duration-300 rounded-full hover:bg-[var(--dark-green-color)] bg-[var(--light-green-color)] focus:bg-[var(--dark-green-color)] !text-[var(--tartiary-color)]'
          href='/contact'
          class='filled-button'>contact us</a
        >
      </div>
    </div>
  </div>
</section>

<style>
  section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    position: relative;
  }
  section::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .slideItem {
    flex: 1 0 100%;
  }
  h6 {
    margin-bottom: 15px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--light-green-color);
    animation: fadeOutRight 1s both;
  }
  h4 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 1.5px;
    overflow: hidden;
    animation: fadeOutLeft 1s both;
  }
  p {
    max-width: 570px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
    color: var(--tartiary-color);
  }

  @media (max-width: 768px) {
    h4 {
      margin-bottom: 25px;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 1px;
    }
  }
</style>

<script>
  const slideContainerEl = document.querySelector(
    '.slideContainer'
  ) as HTMLElement;
  const slideItems = document.querySelectorAll(
    '.slideItem'
  ) as NodeListOf<HTMLDivElement>;

  function scrollToNextSlide() {
    const slideItemWidth = slideItems[0].clientWidth;
    if (
      slideContainerEl.scrollLeft ===
      slideItemWidth * (slideItems.length - 1)
    ) {
      slideContainerEl.scrollLeft = 0;
      return;
    }
    slideContainerEl.scrollLeft += slideItemWidth;
  }

  document.addEventListener('DOMContentLoaded', () =>
    setInterval(() => scrollToNextSlide(), 8000)
  );
</script>
