---
import { Image } from 'astro:assets';
import aboutHome from '~/assets/images/about-home.jpg';
---

<section>
  <div class='wrapper mt-10 py-10 flex flex-col md:flex-row'>
    <div class='w-full md:w-1/2 img flex items-center justify-center'>
      <Image src={aboutHome} alt={'About Image'} class='w-full max-w-lg' />
    </div>
    <div class='w-full md:w-1/2 content p-3 sm:p-6 md:p-12'>
      <span class='uppercase block text-sm mb-2.5'>Who we are</span>
      <div class='section-header aos-init aos-animate' data-aos='fade-up'>
        <span>Get to know about <em>our company</em></span>
        <h2>Get to know about <em>our company</em></h2>
      </div>
      <p
        class='mb-6 aos-init aos-animate'
        data-aos='fade-up'
        data-aos-delay='200'
      >
        We are a leading provider of logistics and money lending services. We
        help businesses of all sizes move their goods and get the financing they
        need to grow.<br /><br />Our team of experts has over 20 years of
        experience in the logistics and finance industries. We are committed to
        providing our customers with excellent service and competitive rates
      </p>
      <a
        href='/about'
        class='inline-block outline-none uppercase font-bold px-6 py-3 transition-colors duration-300 rounded-full hover:bg-[var(--dark-green-color)] bg-[var(--light-green-color)] focus:bg-[var(--dark-green-color)] !text-[var(--tartiary-color)] aos-init aos-animate'
        data-aos='fade-up'
        data-aos-delay='400'
      >
        Read More
      </a>
    </div>
  </div>
</section>
