<section class="bg-[var(--dark-green-color)] py-10">
  <div
    class="flex justify-between items-center wrapper gap-x-4 gap-y-6 flex-wrap"
  >
    <div class="">
      <h4 class="font-semibold text-lg md:text-2xl mb-2">
        Request a call back right now ?
      </h4>
      <span class="text-sm md:text-base"
        >Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</span
      >
    </div>
    <div class="">
      <a
        href="/contact"
        class="outline-none uppercase font-bold px-6 py-3 transition-colors duration-300 border border-[var(--dark-blue-color)] rounded-full hover:bg-[var(--light-green-color)] focus:bg-[var(--light-green-color)] hover:border-transparent text-[var(--tartiary-color)] hover:!text-[var(--tartiary-color)]"
        >Contact Us</a
      >
    </div>
  </div>
</section>
