---
import member1 from "~/assets/images/photo-1492562080023-ab3db95bfbce.jpeg"
import member2 from "~/assets/images/photo-1580489944761-15a19d654956.jpeg"
import member3 from "~/assets/images/photo-1624224971170-2f84fed5eb5e.jpeg"
---

<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Our leadership</h2>
    </div>
  
    <div class="grid grid-cols-2 md:grid-cols-3 gap-8 md:gap-12">  
      <div class="text-center">
        <img class="rounded-xl sm:w-48 sm:h-48 lg:w-60 lg:h-60 mx-auto" src={member1.src} alt="Image Description">
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg dark:text-gray-200">
            Maria Powers
          </h3>
          <p class="text-xs text-gray-600 sm:text-sm lg:text-base dark:text-gray-400">
            Director of sales
          </p>
        </div>
      </div>
  
      <div class="text-center">
        <img class="rounded-xl sm:w-48 sm:h-48 lg:w-60 lg:h-60 mx-auto" src={member2.src} alt="Image Description">
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg dark:text-gray-200">
            Delia Pawelke
          </h3>
          <p class="text-xs text-gray-600 sm:text-sm lg:text-base dark:text-gray-400">
            Front-end Developer
          </p>
        </div>
      </div>
  
      <div class="text-center">
        <img class="rounded-xl sm:w-48 sm:h-48 lg:w-60 lg:h-60 mx-auto" src={member3.src} alt="Image Description">
        <div class="mt-2 sm:mt-4">
          <h3 class="text-sm font-medium text-gray-800 sm:text-base lg:text-lg dark:text-gray-200">
            Tom Lowry
          </h3>
          <p class="text-xs text-gray-600 sm:text-sm lg:text-base dark:text-gray-400">
            UI/UX Designer
          </p>
        </div>
      </div>
    </div>
  </div>
